

body{
  background-image: url(images/white-diamond.jpg);
  font-family: new-curly;
}

a{
  color: black;
  padding: 10px;
  border-radius: 5px;
  animation-name: shrinkToNormal;
  animation-duration: 2;
}

a:hover{
  padding: 5px;
  border-radius: 5px;
  background-color: khaki;
  border: black;
  cursor: pointer;
  animation-name: growOnHover;
  font-size: 107%;
  animation-duration: 2s;
}

.textBox{
  font-family: africa-large;
  opacity: 100%;
  background-color: transparent;
  filter: contrast(200%);
  color: wheat;
}

.navbar{
  color: aquamarine;
}
#testNav{
  margin-bottom: 0px;
  display: inline-block;
  float: left;
}

#bottombar{
  position: absolute;
  bottom: 0;
}

.centered{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.itemsCentered{
  text-align: center;
  align-items: center;
}

.nav-panel{
  background-image: url(images/white-diamond.jpg);
  min-height: 300%;
  background-position: 0px;
  opacity: 80%;
  display: inline-block;
  padding: 10px;
  border-radius: 1000px;
}

#tagline{
  font-family: africa;
  font-size: 100%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

#name{
  font-family: africa-large;
  font-size: 225%;
  color: khaki ;
  opacity: 76%;
}

.dynamicText{
  font-size: 225%;
  animation-name: colourChanger;
  animation-duration: 2.5s;
}


/* fonts */
@font-face {
  src: url(fonts/3dlet.ttf);
  font-family: 'threeDee';
}

@font-face{
  src: url(fonts/Afrika\ Safari\ Rebuild\ St.ttf);
  font-family: 'africa-large'
}

@font-face{
  src: url(fonts/SafariColorway.ttf);
  font-family: 'africa'
}

@font-face{
  src: url(fonts/Orbitron-Regular.ttf);
  font-family: 'new-modern';
}

@font-face{
  src: url(fonts/Orbitron-Medium.ttf);
  font-family: 'new-modern-medium';
}


@font-face{
  src: url(fonts/Orbitron-Bold.ttf);
  font-family: 'new-modern-bold';
}

@font-face{
  src: url(fonts/MonoglycerideDemiBold.ttf);
  font-family: 'new-curly';
}

@font-face{
  src: url(fonts/MonoglycerideDemiBold.ttf);
  font-family: 'new-curly-bold';
}


/* animations */
@keyframes colourChanger {
  from {color: black;}
  to {color:khaki;}


  from {font-size: 100%;}
  to {font-size: 225%;}
}

@keyframes growOnHover {
  from {font-size: 100%;}
  to {font-size: 107%;}

  from {opacity: 20%;}
  to {opacity: 100%;}
}


