<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/CSS_practise/index.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="node_modules/swup/dist/swup.min.js"> </script>
  <title>grahamfalconer.com</title>
</head>
<body>

    <video autoplay muted loop id="myVideo" src="videos/buffalo.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>


    <div class="itemsCentered textBox">

      <div class="navbar">
          
          <div class="nav-panel">
            <div>
                <a href="/projects.html">Projects</a><h1 id="name" class="dynamicText" href="/CSS_practise/index.html"> GRAHAM FALCONER </h1>  <a href="/technologies.html">Technologies</a> <a href="/aboutme.html"> About Me </a> <a href="/contact.html">Contact</a>
            </div>
            <div>

            </div>
      </div>
      </div>


      <p> About me: </p> 
      <p class="largeTextBlock"> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi ipsum faucibus vitae aliquet. Purus gravida quis blandit turpis cursus in hac habitasse platea. Nibh tellus molestie nunc non blandit massa enim. Dolor sit amet consectetur adipiscing elit ut. Ornare suspendisse sed nisi lacus. Eu augue ut lectus arcu bibendum. Feugiat pretium nibh ipsum consequat nisl vel pretium. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Sed faucibus turpis in eu mi bibendum neque. Mauris pellentesque pulvinar pellentesque habitant morbi tristique.

        Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna. Senectus et netus et malesuada fames ac. Faucibus interdum posuere lorem ipsum. Elit sed vulputate mi sit amet mauris commodo quis. Duis ultricies lacus sed turpis. Vulputate dignissim suspendisse in est ante in nibh. Purus sit amet luctus venenatis lectus. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Magna fermentum iaculis eu non diam. Nunc lobortis mattis aliquam faucibus purus. Tellus id interdum velit laoreet id. Et tortor at risus viverra adipiscing at in tellus integer. Nisl nisi scelerisque eu ultrices vitae. Velit egestas dui id ornare arcu odio ut. Consectetur libero id faucibus nisl tincidunt. Id aliquet risus feugiat in ante metus. Imperdiet massa tincidunt nunc pulvinar sapien et ligula. Faucibus interdum posuere lorem ipsum dolor sit amet consectetur. Habitasse platea dictumst quisque sagittis. Placerat vestibulum lectus mauris ultrices eros in cursus turpis.
        
        Placerat in egestas erat imperdiet sed euismod. Suspendisse interdum consectetur libero id faucibus nisl tincidunt. Pellentesque sit amet porttitor eget dolor. Aliquam sem fringilla ut morbi tincidunt augue interdum. Ipsum dolor sit amet consectetur. Ut tristique et egestas quis ipsum suspendisse ultrices. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Sed nisi lacus sed viverra tellus in hac. Elit duis tristique sollicitudin nibh sit amet. Senectus et netus et malesuada fames. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Et ultrices neque ornare aenean euismod elementum nisi quis eleifend.
        
        Praesent tristique magna sit amet purus gravida quis. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Tristique senectus et netus et. Sed libero enim sed faucibus turpis in eu mi bibendum. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Nulla posuere sollicitudin aliquam ultrices sagittis orci. Imperdiet proin fermentum leo vel orci. In metus vulputate eu scelerisque felis. Ultrices tincidunt arcu non sodales neque sodales. Aenean sed adipiscing diam donec adipiscing tristique risus. Est lorem ipsum dolor sit. Nunc sed blandit libero volutpat sed cras ornare. Id diam vel quam elementum pulvinar etiam non quam lacus. Nisl tincidunt eget nullam non nisi est sit. A diam sollicitudin tempor id eu nisl nunc. Dolor purus non enim praesent elementum facilisis leo vel fringilla.
        
        Mauris sit amet massa vitae. Nunc faucibus a pellentesque sit amet porttitor. Ornare lectus sit amet est placerat in egestas. Ultrices vitae auctor eu augue ut lectus arcu bibendum. Sem et tortor consequat id porta nibh venenatis cras sed. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Et netus et malesuada fames ac turpis. Et netus et malesuada fames ac turpis. Praesent elementum facilisis leo vel fringilla. Fringilla phasellus faucibus scelerisque eleifend. Eu augue ut lectus arcu. Interdum posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Ipsum a arcu cursus vitae congue mauris rhoncus. Turpis egestas maecenas pharetra convallis posuere.
      </p>



    </div>
</body>
</html>